.storylink .picture img {
  float: left !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0.3em 0 0.3em 2px !important;
  max-width: 18px !important;
  max-height: 18px !important;
  _width: 18px !important;
  _height: 18px !important;
} /* Fixing IE6 bug, a underscore before a attribute make other browsers ignore it */

.vote-up-down-widget {
  float: left;
  clear: left;
  padding: 2px;
  margin: 2px 5px 2px 0;
  border: 1px solid #ccc;
}

.vote-up-down-via {
  float: right;
  color: #999;
  padding-left: 3px;
}

.vote-up-act, .vote-up-inact, .vote-down-act, .vote-down-inact {
  display: block;
  text-decoration: none;
  width: 15px;
  height: 16px;
}
.vote-up-act, a.vote-up-inact:hover {
  background: url(a_up_act.png) no-repeat 0px 0px;
}
.vote-up-inact {
  background: url(a_up_inact.png) no-repeat 0px 0px;
}
.vote-down-act, a.vote-down-inact:hover {
  background: url(a_down_act.png) no-repeat 0px 0px;
}
.vote-down-inact {
  background: url(a_down_inact.png) no-repeat 0px 0px;
}

.vote-points {
  font-weight: bold;
}

.storylink h2, 
.storylink .content, 
.storylink .info, 
.storylink .links {
  padding-left: 26px;
}